Repository Cielquan/RUlaub: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, find-todos, cargo-clippy, cargo-check

cargo-fmt:
  name: rustfmt
  description: Format rust source with rustfmt.
  entry: cargo fmt
  args:
  - --
  language: system

find-todos:
  name: 'Find TODO:|FIXME:|BUG: comments'
  description: 'Check for TODO:|FIXME:|BUG: comments in all files'
  language: pygrep
  entry: (^|//!?|#|<!--|;|/\*(\*|!)?|\.\.)\s*(TODO:|FIXME:|BUG:)(?!#i#)

cargo-clippy:
  name: clippy
  description: Lint rust source with clippy.
  entry: cargo clippy
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust package for errors.
  entry: cargo check
  language: system
  pass_filenames: false

simplified config loader
  rust_backend_test/src/config/loader.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

update tester bin
  rust_backend_test/src/bin/tester.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

fix clippy issues
  rust_backend_test/src/bin/tester.rs
  rust_backend_test/src/config/loader.rs
  rust_backend_test/src/db/models/public_holiday.rs
  rust_backend_test/src/db/models/school_holiday.rs
  rust_backend_test/src/db/models/user.rs
  rust_backend_test/src/db/models/vacation.rs
  rust_backend_test/src/db/models/vacation_type.rs
  rust_backend_test/src/db/util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

set libsqlite3-sys into diesel's range; add toml feat flag
  Cargo.lock
  rust_backend_test/Cargo.toml
Due: find-todos

add note; change default language
  src/state/reducers/initialStates.ts
Due: find-todos

switch from mod.rs to <dir_name>.rs files
  rust_backend_test/src/config.rs
  rust_backend_test/src/db.rs
  rust_backend_test/src/db/models.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

setup tracing with changeable level
  Cargo.lock
  rust_backend_test/Cargo.toml
  rust_backend_test/src/bin/tester.rs
  rust_backend_test/src/lib.rs
  rust_backend_test/src/logging.rs
  rust_backend_test/src/logging/file.rs
  rust_backend_test/src/logging/util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add file + base config handling
  Cargo.lock
  rust_backend_test/Cargo.toml
  rust_backend_test/src/config.rs
  rust_backend_test/src/config/file.rs
  rust_backend_test/src/lib.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

finish conf logging and first file loading
  rust_backend_test/src/config/loader.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

finish conf file watcher (missing async)
  rust_backend_test/src/bin/tester.rs
  rust_backend_test/src/config/loader.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

fix deadlock in load_config_file
  rust_backend_test/src/config/loader.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

put tracer into lib
  rust_backend_test/src/bin/tester.rs
  rust_backend_test/src/logging.rs
  rust_backend_test/src/logging/logger.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

use parking_lot for sync primitives
  Cargo.lock
  rust_backend_test/Cargo.toml
  rust_backend_test/src/config/loader.rs
  rust_backend_test/src/lib.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

improve error logging for conf loader
  rust_backend_test/src/config/loader.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

fix conf file creation for linux; create dirs before
  rust_backend_test/src/config/file.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

move rust src into src-tauri
  Cargo.lock
  Cargo.toml
  rust_backend_test/Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/bin/tester.rs
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/config/loader.rs
  src-tauri/src/db.rs
  src-tauri/src/db/models.rs
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/school_holiday.rs
  src-tauri/src/db/models/user.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/models/vacation_type.rs
  src-tauri/src/db/schema.rs
  src-tauri/src/db/util.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/src/logging/file.rs
  src-tauri/src/logging/logger.rs
  src-tauri/src/logging/util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

tmp fix bug in frontend
  src/state/reducers/initialStates.ts
Due: find-todos

remove unnecessary 'extern crate' stmts
  src-tauri/src/bin/tester.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

remove tauri beforeDevCommand
  src-tauri/tauri.conf.json
Due: find-todos

add type for tracer handle
  src-tauri/src/logging/logger.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

use char for str with 1 char
  src-tauri/src/config.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add tracing to backend
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add start loading screen
  .htmllintrc
  public/loadingscreen.html
  public/loadingscreen.png
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

move build script one dir up to seperate from code
  src-tauri/Cargo.toml
  src-tauri/build.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add menu to window
  TODO.md
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

put menu to main window only
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add menu event handler
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add async watcher creator current sync watcher is left uncompileable, it needs notify <5
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
  src-tauri/src/utils/async_utils.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

refactor config mod
  src-tauri/src/bin/tester.rs
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/config/loader.rs
  src-tauri/src/config/utils.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

fix deadlock in load_config_file
  src-tauri/src/config/file.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add tracing info to app init
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add async conf file watching
  src-tauri/src/bin/tester.rs
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

update todos
  TODO.md
Due: none

add custom app icon
  README.md
  TODO.md
  app-icon.png
  public/favicon.ico
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: find-todos

remove old app icon
  public/crab.jpg
Due: find-todos

update cargo lock
  Cargo.lock
Due: find-todos

reorder deps
  src-tauri/Cargo.toml
Due: find-todos

fix issue with tauri build on win w/o reg access
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

wokraround for crash on menu button click
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add event listeners to acompany window menu
  src/App.tsx
  src/backendAPI/eventListener.ts
Due: find-todos

Path conditions:
  cargo-fmt: any of: \.rs$
  find-todos: any file but: TODO
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
