Repository Cielquan/RUlaub: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, find-todos, cargo-clippy, cargo-check

Path conditions:
  cargo-fmt: any of: \.rs$
  find-todos: any file but: TODO
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$

rename info page to about
  src/App.tsx
  src/__tests__/App.test.tsx
  src/__tests__/__snapshots__/App.test.tsx.snap
  src/backendAPI/eventListener.ts
  src/components/AboutPage.tsx
  src/components/SideMenu.tsx
  src/components/__tests__/InfoPage.test.tsx
  src/components/__tests__/SettingsDialog.test.tsx
  src/components/__tests__/__snapshots__/InfoPage.test.tsx.snap
  src/locales/de-DE/messages.po
  src/locales/en-US/messages.po
  src/state/action-creators/aboutPageActionCreators.ts
  src/state/action-creators/index.ts
  src/state/action-creators/infoPageActionCreators.ts
  src/state/action-types/index.ts
  src/state/actions/index.ts
  src/state/reducers/aboutPageReducer.ts
  src/state/reducers/index.ts
  src/state/reducers/infoPageReducer.ts
  src/state/reducers/initialStates.ts
Due: find-todos

use fix for tauri menu bug
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

improve cargo metadata
  src-tauri/Cargo.toml
Due: find-todos

update todos
  TODO.md
Due: none

restructure DoubleButtonItemList
  src/components/SideMenu.tsx
  src/components/SideMenuDoubleButton.tsx
Due: find-todos

run pre-commit cargo check for all targets
  .pre-commit-config.yaml
Due: find-todos

fix tauri git dependency to rev not branch
  Cargo.lock
  src-tauri/Cargo.toml
Due: find-todos

setup event listeners one component up and once only
  src/App.tsx
  src/ProviderWrapper.tsx
Due: find-todos

add db dialogs
  src/backendAPI/eventListener.ts
  src/components/AboutPage.tsx
  src/components/SideMenu.tsx
  src/state/action-creators/configActionCreators.ts
Due: find-todos

remove tester bin
  src-tauri/src/bin/tester.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

change max line length to 100
  .rustfmt.toml
  src-tauri/build.rs
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/util.rs
  src-tauri/src/logging/logger.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

rename utils to util
  src-tauri/src/config/file.rs
  src-tauri/src/lib.rs
  src-tauri/src/util.rs
  src-tauri/src/util/async_util.rs
  src-tauri/src/utils.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

rename utils to util
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/config/util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

refactor config mod
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

imporve tracing & error flow
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/db/util.rs
  src-tauri/src/logging.rs
  src-tauri/src/logging/file.rs
  src-tauri/src/logging/logger.rs
  src-tauri/src/logging/util.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src-tauri/src/util/async_util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add some docstrings
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/db/models.rs
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/school_holiday.rs
  src-tauri/src/db/models/user.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/models/vacation_type.rs
  src-tauri/src/db/util.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/src/logging/file.rs
  src-tauri/src/logging/logger.rs
  src-tauri/src/logging/util.rs
  src-tauri/src/menu.rs
  src-tauri/src/util/async_util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

rename logger mod
  src-tauri/src/logging.rs
  src-tauri/src/logging/tracer.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add setup_tracer which returns a logging reload handle
  src-tauri/src/logging/tracer.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

refactor config lib out
  Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config.rs
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

reload tracer level after config load
  src-tauri/src/logging/tracer.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

log message punctuation
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/db/util.rs
  src-tauri/src/logging/file.rs
  src-tauri/src/logging/tracer.rs
  src-tauri/src/logging/util.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src-tauri/src/util/async_util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

improve logging info for db entry save_to_db
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/school_holiday.rs
  src-tauri/src/db/models/user.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/models/vacation_type.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add NewDBEntry trait
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/school_holiday.rs
  src-tauri/src/db/models/user.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/models/vacation_type.rs
  src-tauri/src/db/util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

switch todos to roadmap
  README.md
  ROADMAP.md
  TODO.md
  migrations/2021-11-09-082604_db_init/up.sql
Due: find-todos

remove file watcher for config file
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

improve tracing levels for msg
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/db/util.rs
  src-tauri/src/logging/tracer.rs
  src-tauri/src/main.rs
  src-tauri/src/util/async_util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

update roadmap
  ROADMAP.md
Due: find-todos

remove old NL const
  src-tauri/src/lib.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

Update ROADMAP.md
  ROADMAP.md
Due: find-todos

change import layout to module
  .rustfmt.toml
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/school_holiday.rs
  src-tauri/src/db/models/user.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/models/vacation_type.rs
  src-tauri/src/db/util.rs
  src-tauri/src/logging/tracer.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add log commands for FE
  ROADMAP.md
  src-tauri/src/commands.rs
  src-tauri/src/commands/logging.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

comment improvement
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

add config as tauri state
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

load config to state instead of glob static
  src-tauri/src/config.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/state.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

reduce 'pub' usage
  src-tauri/src/config.rs
  src-tauri/src/db.rs
  src-tauri/src/db/models/public_holiday.rs
  src-tauri/src/db/models/school_holiday.rs
  src-tauri/src/db/models/user.rs
  src-tauri/src/db/models/vacation.rs
  src-tauri/src/db/models/vacation_type.rs
  src-tauri/src/db/util.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/src/logging/tracer.rs
  src-tauri/src/util/async_util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

use all kwargs for all tracing calls
  src-tauri/src/config/file.rs
  src-tauri/src/config/setup.rs
  src-tauri/src/config/util.rs
  src-tauri/src/logging/file.rs
  src-tauri/src/logging/tracer.rs
  src-tauri/src/main.rs
  src-tauri/src/menu.rs
  src-tauri/src/util/async_util.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

emit error event on conf file creation error
  src-tauri/src/config/setup.rs
  src-tauri/src/main.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check

rename error event to be broader
  ROADMAP.md
  src-tauri/src/config/setup.rs
Due: cargo-fmt, find-todos, cargo-clippy, cargo-check
